body.default {
    background-image: url(../images/blume.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    padding-bottom: 100px;
}

* {
    font-family: 'PT Sans', sans-serif !important;
}
.fa {
    font-family: 'FontAwesome' !important;
}

.logo-container {
    background-color: #FFF;
    text-align: center;
    padding: 10px;
}

#navigation.affix .logo-container {
    display: none;
}

#navigation.affix {
    position: fixed;
    width: 100%;
    z-index: 1000;
}
#navigation.affix .navbar-brand>img  {
    visibility: visible;
}

.navbar-brand>img {
    display: block;
    max-width: 100%;
    max-height: 25px;
    visibility: hidden;
}

@media (max-width: 850px) {
    body.default {
        background: none;
    }
}
.panel > hr {
    margin: 0px;
}