TYPO3:
  Flow:
    i18n:
      defaultLocale: 'de'
    persistence:
      backendOptions:
        driver: 'pdo_mysql'
        dbname: 'CHANGE!' # adjust to your database name
        user: 'CHANGE!'         # adjust to your database user
        password: 'CHANGE!' # adjust to your database password
        host: 'CHANGE!'    # adjust to your database host
